.project
.cproject
tests/01-hello-world/.*
tests/02-sdl-dynamic/.*
tests/02-sdl-static/.*
tests/03-sdl-loop-to-engine/.*
tests/*/build/*
tests/*/.*
*.user
tests/06-2-shader-multiply-matrix/cmake-*
tests/*/cmake-*
tests/build-*
tests/11-1-android-port/android-project/.*
tests/11-1-android-port/android-project/local.properties
tests/11-1-android-port/android-project/app/src/main/jni/SDL2
tests/11-1-android-port/android-project/app/.externalNativeBuild/*
tests/11-2-android-port/android-project/.*
tests/11-2-android-port/android-project/app/.*
tests/11-2-android-port/android-project/local.properties
tests/11-2-android-port/android-project/app/build/*
tests/11-2-android-port/android-project/build/*
